.previewWrapper {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 0;
}

.hiddenVideo {
  display: none;
}

.canvasContainer {
  position: relative;
  width: 100%;
  background: #000;
  border-radius: 8px;
  overflow: hidden;
  flex-grow: 1;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvasElement {
  height: auto;
  max-height: 100%;
  display: block;
}