.cropperOverlay {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.2);
  cursor: move;
  box-sizing: border-box;
}

.cropperOverlay.isDragging {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 1);
}

.gridLineV,
.gridLineH {
  position: absolute;
  background: #ffffff;
  opacity: 0.7;
}

.gridLineV {
  width: 1px;
  height: 100%;
  border-left: 1px dashed #ffffff;
}

.gridLineH {
  width: 100%;
  height: 1px;
  border-top: 1px dashed #ffffff;
}